.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-list__buttons-container {
  margin: 20px 0 0;
  width: 90%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.card-list__button {
  border-radius: 20px;
  margin: 10px 0 0;
  background-color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: white;
  transition: opacity 0.2s linear;
}

.card-list__button:hover {
  opacity: .7;
}

.card-list__title {
  margin: 40px 0 0;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: white;
  letter-spacing: 0.6rem;
  border-bottom: solid 1px white;
}

.card-list__description {
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
}

.card-list__button_type_disabled {
  opacity: .7;
  cursor: auto;
  background-color: grey;
}

.card-list__container {
  width: 90%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  margin: 20px 0 0;
  padding: 0;
}

.card-list__item {
  list-style: none;
}


