.header {
  width: 100%;
  height: 50px;
  border-bottom: solid 1px white;
  display: flex;
  align-items: center;
}

.header__heading {
  margin: 0 0 0 30px;
  font-family: 'Montserrat', sans-serif, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  color: white;
}

.header__heading_type_right {
  margin: 0 40px 0 auto;
}