.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.popup__close-button {
  transform: rotate(-90deg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(../../images/Close_Icon.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: transparent;
  border: transparent;
  transition: opacity .2s linear;
  margin-left: 390px;
}

.popup__container {
  background-color: white;
  width: 95%;
  max-width: 350px;
  border-radius: 10px;
  z-index: 2;
  max-height: 513px;
}

.popup__close-button:hover {
  opacity: .6;
}








/* media quries */

@media only screen and (max-width: 500px){

  .popup__close-button {
    width: 23px;
    height: 23px;
    margin: 0 4px 10px auto;
  }

  .popup__container {
    width: 55.98%;
    max-width: 430px;
  }

  .popup__container {
    max-width: 100%;
    width: 100%;
  }

}


@media only screen and (max-width: 319px){
  .popup__container {
    min-height: 200px;
  }
}