.popup-form {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-form__input-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 0 10px;
}

.popup-form__select-container {
  display: flex;
  margin: 10px 0;
}

.popup-form__input-title {
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.popup-form__input {
  margin: 0 0 0 10px;
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.popup-form__radio-title {
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin: 0 13px 0 3px;
  padding: 0;
}

.popup-form__submit {
  margin: 20px 0 0;
  background-color: black;
  border: none;
  font-family: 'Open sans', sans-serif, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: white;
  border-radius: 20px;
  height: 30px;
  padding: 0 10px 0;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.popup-form__submit:hover {
  opacity: .7;
}








/* media quries */

@media only screen and (max-width: 319px){
  .popup-form__input-container {
    margin: 20px 3%;
  }
}